body {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

/* .main-container{
    width: 1120px;
    height: 10rem;
    background-color: red;
} */
*{
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
}
.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 41.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/images/destinations/mobile/destinations\ mobile\ photo.png);
  /* background-color: red; */
  padding: 0 1.6rem;
}

.search-destination,input{
    padding: 1.6rem;
    font-family: 'poppins';
    border-radius: 0.8rem;
}

.start-date{
    padding: 1.6rem;
    font-family: 'poppins';
    border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.end-date{
    font-family: 'poppins';
    border-radius: 0rem 0.8rem 0.8rem 0rem;
}


.image-holder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41.1rem;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    border-radius: inherit;
}

.image-holder-typography {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-holder * {
  z-index: 4;
}

.image-holder h4 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  /* z-index: 3; */
}

.image-holder p {
  font-size: 1.2rem;
  color: white;
}

.transparent-frame {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
  width: 100%;
  max-width: 36rem;
  border-radius: 1.2rem;
  padding: 1.6rem 3.6rem;
}

.transparent-frame * {
  display: block;
  width: 100%;
}

.transparent-frame label {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0.4rem;
}

.transparent-frame input,
.transparent-frame select {
  height: 4.8rem;
  margin: 0 0 1.2rem 0;
}

.date-selection {
  display: flex;
  /* width: auto; */
  /* background-color: red; */
}
.date-selection input {
  width: 50%;
}

.start-search-button {
  border: none;
  height: 4.8rem;
  margin: 0.8rem 0;
  background: none;
  box-shadow: none;
  outline: none;
  font-family: "poppins";
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  border-radius: 0.8rem;
  background-color: #f77f00;
  cursor: pointer;
}

.destinations-cards-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  /* background-color: rgb(255, 11, 11); */
  padding: 1.6rem;
  justify-content: center;
  width: 100%;
}

.destination-card {
  display: flex;
  padding: 1.6rem;
  /* background-color: blue; */
  gap: 1.6rem;
  height: max-content;
  width: 100%;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 0 0.15rem #737373;
  /* max-width: 36.1rem; */
}

.destination-card-thumbnail {
  /* background-color: beige; */
  width: 50%;
  /* aspect-ratio: 1; */
  /* max-width: 16.9rem; */
  border-radius: 0.4rem;
}

.one {
  background-image: url(assets/images/destinations/mountain\ hike.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.two {
  background-image: url(assets/images/destinations/sahara\ nights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.destination-card-information {
  width: 50%;
}
.destination-card-information .destination-card-title {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
}

.destination-card-information p {
  font-size: 1rem;
  max-width: 100%;
}

.destination-card-information .destination-card-button {
  border: none;
  margin: 0.8rem 0;
  background: none;
  box-shadow: none;
  outline: none;
  font-family: "poppins";
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  border-radius: 0.8rem;
  padding: 1rem 1.6rem;
  background-color: #f77f00;
}

@media screen and (min-width: 768px) {
  body {
    /* background-color: #0dda85; */
  }
  /* .transparent-frame * {
    display: flex;
    width: 100%;
  } */

  .destinations-cards-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgba(0, 255, 179, 0.829); */
    width: 100%;
    gap: 3.2rem;
  }
  .destination-card-information p {
    font-size: 1.2rem;
    max-width: 100%;
  }
  .destination-card-information .destination-card-title {
    font-size: 2.8rem;
  }
  .destination-card-information .destination-card-button {
    font-size: 1.6rem;
  }

  .destination-card {
    width: 100%;
    max-width: 49rem;
  }

  .image-holder h4 {
    font-size: 4.8rem;
  }

  .image-holder p {
    font-size: 2.8rem;
  }

  .transparent-frame {
    flex-direction: row;
    max-width: 86.8rem;
  }
  
  .transparent-frame form{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.OptionsD{
    max-width: 250px;
}
.start-search-button{
max-width: 20rem;
}



.start-search-button{
    margin-top: 2rem;
}

}





