
/*-------------------------------------index style start---------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{

    font-size: 10px;
    font-family: 'poppins',sans-serif;

}
.page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 90%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    margin: auto;
    border-radius: 10px;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 5rem;
    overflow: hidden;
    background-color: #ffffff;
    /* margin-top: 1rem; */
    /* padding: 10px 3rem; */
  }
  
  .navbar img {
    height: 7rem;
    width: auto;
    justify-self: start;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-self: end;
  }
  
  .nav-item a {
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  .navbar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* padding: 0.5 rem; */
    margin-top: 1rem;
    border-radius: 30px;
  }
  .navbar ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-right: 2rem;
  }
  .navbar ul li a{
    text-transform: capitalize;
  }
   .active{
    /* background-color: red; */
    border-radius: 12px;
    border: 1px solid blue;
    text-align: center;
    padding: 7px 10px;
  }
  /* ------------------------------------------------------ 
  */
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover {
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-moz-keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradbar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* 00000000000000000000000000000000000000000 */
  @media only screen and (max-width: 720px) {
    /* MOBILE NAVIGATION */
  
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 70px;
      background-color: #000000c1;
      width: 90%;
      height: max-content;
      padding-bottom: 2rem;
      transform: translate(-120%);
      text-align: center;
      overflow: hidden;
      border-radius: 10px;
    }
  
    .navbar li {
      padding: 1rem 5rem;
    }
    .navbar li:hover{
      border-bottom: 1px solid orange;
    }
    .navbar li:first-child {
      margin-top: 50px;
    }
    .navbar li:hover:last-child {
      border: none;
    }
    .navbar li a {
      font-size: 1rem;
      color: white;
    }
  
    .menu-toggle,
    .bar {
      display: block;
      cursor: pointer;
    }
  
    .mobile-nav {
      transform: translate(0%) !important;
    }
  }
  

.hero-section{
background-image: url("./assets/images/home/desktop/HOMEBANNER-desktop.png");
background-size: cover;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
width: 100%;
height: 90vh;


}

.hero-section h1{
    font-size: 32px;
    margin-bottom: -5px;
    }

.hero-section-title{
  text-align: center;  
  color: white;
  width: 70%;
  
}
.hero-section-title p{
font-size: 16px; 
  }

.hero-section-search-bar{
display: flex;
flex-direction: column;
width: 70%;
background-color: rgba(255, 255, 255, 0.47);
padding: 15px;
height: 50%;
border-radius: 10px;


}
.hero-section-search-bar label{
font-size: 12px;
}

.hero-section-search-bar-title{
    text-align: center; 
    font-size: medium;
    font-size: 20px;

}
.search-bar{
    display: flex;
    flex-direction: column;
}
.search-bar-button{
    display: flex;
  
    justify-content: center;
}
.duration{
display: flex;
 
margin-bottom: 10px;

background-color: white;
border-radius: 20%;



}
.duration-bar{
    padding: 12px 0px;
    border: none;
    border-radius: 8px;
   width: 60%;
  
}

.contrys{
    margin-bottom: 10px;
}
.discover{
    display: grid;
flex-direction: column;
text-align: center;
align-items: center;

}
.discover-title{
    font-size: 40px;
}
.discover-imgs{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.Destinations{
    display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}
.Destinations-title{
    font-size: 40px;
}
.Destinations-img-description{
   
    display: flex;
    
    border: 1px solid black;
   
}
.Destinations-img{

background-image: url("./assets/images/home/desktop/IMG7-desktop.png");
background-size: cover;
}
.Destinations-carts {
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 2rem;
   width: 70%;
   border: 1px solid black;
}
.home-contact-section-description-button{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    text-align: center;
    background-color: rgba(217, 217, 217, 1);
    height: max-content;
    
}
.home-contact-section-description-button-title{
   width: 60%;
   font-size: 32px;
   
}
.home-contact-section-description-button-content{
   width: 70%;
   font-size: 16px;
   
}

/*------------------------------------------------------index style end-----------------------------------------------*/
/*------------------------------------------------------Sign up style start-----------------------------------------------*/
.sign-up{
    display: flex;
  
    justify-content: center;
    align-items: center;
   
   
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.2rem;
    height: 31.6rem;
    border: 0.15rem solid #DCDCEB;
    margin-top: 4rem ;
    margin-bottom: 8rem ;
    border-radius: 3.2rem;
}
.sign-up-form h3{

    font-size: 48px;
    padding: 2rem;
}
.sign-up-form input {
    width: 80%;
    height: 3.2rem;
    padding: 1.2rem 1.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  
    font-weight: 400;
    border: none;
    background-color: #EFEFEF;
    font-size: 12px;
   
   
}

#form-button1{
    color: white;
    background-color: rgba(247, 127, 0, 1);
    font-size: 20px;
    
}
#form-button2{
    color: rgba(247, 127, 0, 1);
    background-color: white;
    border: 1px solid rgba(247, 127, 0, 1);
    font-size: 20px;
    
}


/*------------------------------------------------------Sign up style end-----------------------------------------------*/
/*------------------------------------------------------fouter style start-----------------------------------------------*/
.footer-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1120px;
    gap: 2.4rem;
    font-size: 1.6rem;
    
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;
    padding: 1.6rem;

}

.footer-container li, .footer-container a{
    list-style-type: none;
    text-decoration: none;
    color: black;

}

.footer-container li :hover, .footer-container a :hover{
    font-weight:  600;
}

.footer-first-section{
    order: 4;
    
}

.footer-sections {
    /* background-color: yellow; */
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  /* flex-grow: 1; */
}

.footer-sections h4{
font-size: 2rem;
}

.footer-email-section {
    display: flex;
    height: 5rem;
    padding: 0.8rem;
    box-shadow: inset 0 0 0 0.3rem orange;
    border-radius: 0.8rem;
    
    
  }
  
  .footer-email-input {
    width: 80%;
    flex-grow: 1;
    /* all properties of inputs and buttons  */
    border: none;
    padding: .8rem;
    margin: 0;
    background: none;
    box-shadow: none;
    outline: none;
    font: inherit;
    color:inherit;
    /* finished all properties of inputs and buttons */
    font-size: 1.6rem;
  }
  .footer-email-button {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    padding: .8rem;
    margin: 0;
    background-color: orange;
    box-shadow: none;
    outline: none;
    color: white;
    cursor: pointer;
    align-content: center;
    text-align: center;
  }
  

  .fa-brands{
    /* background-color: yellow; */
    font-size: 2.4rem;
  }

  @media screen and (min-width:768px) {
    
    .footer-container {
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        gap: 2.4rem;
        font-size: 1.6rem;
        
        margin: 0 auto;
        text-decoration: none;
        list-style-type: none;
        padding: 1.6rem;
    
    }
    .footer-first-section{
        order: 0;
        
    }
    
  }
/*------------------------------------------------------fouter style end-----------------------------------------------*/
  
